<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd"
        [ngStyle]="{backgroundColor: onlyOdd ? 'blue' : 'red'}"
        >Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: odd % 2 !== 0}"
            *ngFor="let odd of oddNumbers">
            {{ odd }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{even: even % 2 === 0}"
            *ngFor="let even of evenNumbers">
            <!-- the star indicates that this is a structural directive -->
            div *ngIf {{ even }}
          </li>
        </div>
        <ng-template [ngIf]="!onlyOdd">
          <!-- ng-template is not rendered by itself, but it is defined for the Angular so it can be used by Angular -->
          <div>
            <li
              class="list-group-item"
              [ngClass]="{even: even % 2 === 0}"
              *ngFor="let even of evenNumbers">
              ng-template [ngIf] {{ even }}
            </li>
          </div>
        </ng-template>
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{even: even % 2 === 0}"
            *ngFor="let even of evenNumbers">
            <!-- the star indicates that this is a structural directive -->
            appUnless {{ even }}
          </li>
        </div>
      </ul>
      <p appBasicHighlight>Style me with BasicHighlightDirective</p>
      <p appBetterHighlight [appBetterHighlight]="'yellow'" defaultColor="pink">Style me with BetterHighlightDirective</p>
      <div>
        <button type="button" (click)="value = 5" class="btn btn-primary">5</button>
        <button type="button" (click)="value = 10" class="btn btn-primary">10</button>
        <button type="button" (click)="value = 50" class="btn btn-primary">50</button>
        <button type="button" (click)="value = 0" class="btn btn-primary">?</button>
      </div>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">five</p>
        <p *ngSwitchCase="10">ten</p>
        <p *ngSwitchCase="50">fifty</p>
        <p *ngSwitchDefault>fuck off</p>
      </div>
    </div>
  </div>
</div>
